In [1]:
import os
import sqlite3
import pandas as pd
import numpy as np
import datetime
from pymystem3 import Mystem
import re
from nltk.corpus import stopwords

In [2]:
conn = sqlite3.connect(r"../../diplom.db")
cur = conn.cursor()

In [4]:
res = cur.execute("""SELECT ID, DDATE, TRANSCRIPT, DEMOCRACY_COUNT FROM ZAVTRA ORDER BY DEMOCRACY_COUNT DESC LIMIT 25;""")
for i, date, text, count in res:
    print(i, date, count)
    with open(f'{i}.txt', 'w', encoding='utf-8') as f:
        f.write(text)

1786037 2012-07-25 00:00:00 56
1826805 2019-09-30 00:00:00 43
1826806 2019-09-30 00:00:00 43
1815374 2007-05-22 00:00:00 40
1846480 2012-09-18 00:00:00 35
1840346 2020-12-04 00:00:00 31
1811775 2004-12-08 00:00:00 28
1826198 2013-11-14 00:00:00 27
1848410 2013-11-14 00:00:00 27
1819520 2010-09-29 00:00:00 25
1826204 2019-02-17 00:00:00 23
1848474 2019-02-17 00:00:00 23
1845828 2020-11-27 00:00:00 22
1789115 2014-07-20 00:00:00 21
1817978 2009-06-03 00:00:00 21
1851037 2019-12-11 00:00:00 21
1848840 2020-12-17 00:00:00 20
1839529 2014-08-09 00:00:00 19
1808395 2002-11-11 00:00:00 18
1812626 2005-07-19 00:00:00 18
1826209 2019-04-23 00:00:00 18
1830865 2017-05-26 00:00:00 18
1848527 2019-04-23 00:00:00 18
1799248 2014-01-29 00:00:00 17
1799560 2020-11-19 00:00:00 17